In [2]:
import numpy as np
import pandas as pd
import os

In [7]:
datasets = os.listdir('Data')

In [13]:
train_csvs = [data for data in datasets if "train" in data]
test_csvs = [data for data in datasets if "test" in data]

In [21]:
final_df = pd.DataFrame()
for df in train_csvs:
    data = pd.read_csv("Data/{}".format(df), index_col = 0)
    final_df = pd.concat([final_df, data], axis = 1, )

In [27]:
final_df['country']
# check we have merged correctly 
for i in range(len(final_df['country'])):
    row = list(np.array(final_df['country'].iloc[i]))
    if len(set(row)) > 1:
        print("FALSE")

for i in range(len(final_df['year'])):
    row = list(np.array(final_df['year'].iloc[i]))
    if len(set(row)) > 1:
        print("FALSE")

In [32]:
metrics = [train.split('_')[0] for train in train_csvs]
final_df[metrics]

,educ,soci,heal,pers,busi,econ,safe,gove,envi
0,22.494400,37.691658,51.600807,32.290104,35.308167,53.251713,37.240280,29.760307,39.293343
1,35.916668,44.954544,57.914005,45.123459,27.057371,51.743580,53.325123,30.910105,47.982162
2,56.318413,41.740612,74.527748,60.275913,40.626377,57.979511,68.989883,42.531654,51.049442
3,59.942955,52.181824,77.575127,49.087570,52.791740,67.167816,80.370224,48.831993,62.051479
4,51.995552,48.400772,74.439102,63.805622,47.438419,62.476505,68.519714,45.032742,64.909729
...,...,...,...,...,...,...,...,...,...
1187,61.757511,49.223934,73.153931,42.656334,50.571323,68.756935,69.328110,40.724960,61.893570
1188,27.087793,34.863636,59.361298,26.744762,34.814461,41.749683,53.523056,28.166433,42.590019
1189,57.209820,57.354820,58.200974,79.570770,59.192585,55.837296,56.250931,61.965115,65.979095
1190,41.685936,50.936478,59.711163,51.890903,54.895561,47.259438,57.675217,47.728058,59.992748
1191,49.465069,47.798504,63.500034,42.645996,38.271263,58.498528,59.620041,33.261623,53.043980

In [34]:
env = ['fwateruse',
 'airpollution',
 'wasterwater',
 'fishstock',
 'marineprotect',
 'improved_drinkwater',
 'pestreg',
 'terrestprotect']
gov = ['elfcr',
 'trang',
 'womenparl',
 'vapvt',
 'polity2',
 'polrights',
 'geff',
 'rqual',
 'ticpi',
 'judi',
 'rlaw']

In [41]:
final_df = final_df.loc[:,~final_df.columns.duplicated()]

In [42]:
final_df

,country,isonum,isocode,year,rank_educ,educ,qslnl,qslnl_year,edsys,edsys_year,...,fishstock,fishstock_year,marineprotect,marineprotect_year,improved_drinkwater,improved_drinkwater_year,pestreg,pestreg_year,terrestprotect,terrestprotect_year
0,Afghanistan,4,AFG,2007,143,22.494400,-7.178585,2013,***,2008,...,35.323078,--,13.537368,--,42.6,2007,0,2007,0.366882,2007
1,Angola,24,AGO,2007,125,35.916668,-7.178585,2013,***,2011,...,4.500000,2007,0.066623,2007,46.4,2007,3,2007,12.399823,2007
2,Albania,8,ALB,2007,72,56.318413,-7.178585,2013,***,2008,...,37.099178,--,1.624084,2007,95.9,2007,5,2007,9.804400,2007
3,United Arab Emirates,784,ARE,2007,52,59.942955,-7.178585,2013,***,2009,...,30.838837,--,2.571971,2007,99.6,2007,23,2007,5.616998,2007
4,Argentina,32,ARG,2007,92,51.995552,-7.178585,2013,***,2007,...,12.280000,2007,1.103726,2007,97.7,2007,23,2007,5.466403,2007
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1187,Vietnam,704,VNM,2014,47,61.757511,-7.178585,2014,***,2014,...,0.450000,2010,1.730224,2012,96.4,2014,22,2012,6.454478,2012
1188,Yemen,887,YEM,2014,141,27.087793,-7.178585,2014,***,2014,...,11.190000,2010,3.301255,2012,54.9,2012,21,2012,0.790254,2012
1189,South Africa,710,ZAF,2014,71,57.209820,-3.989020,2014,***,2014,...,20.931701,2010,12.757203,2012,92.8,2014,22,2012,6.199420,2012
1190,Zambia,894,ZMB,2014,115,41.685936,-7.178585,2014,***,2014,...,35.323078,--,13.537368,--,64.6,2014,18,2012,37.776195,2012
1191,Zimbabwe,716,ZWE,2014,105,49.465069,-7.178585,2014,***,2014,...,35.323078,--,13.537368,--,77.1,2014,3,2012,27.172584,2012

In [43]:
for i in final_df.columns:
    if i.find('year') > -1:
        final_df = final_df.drop([i], axis = 1)

In [45]:
from featuretools.selection import remove_single_value_features
final_df = remove_single_value_features(final_df)

In [46]:
final_df

,country,isonum,isocode,rank_educ,educ,qslnl,secvocp,teryrs,edqualsc,gbrata,...,rank_envi,envi,fwateruse,airpollution,wasterwater,fishstock,marineprotect,improved_drinkwater,pestreg,terrestprotect
0,Afghanistan,4,AFG,143,22.494400,-7.178585,0.714436,0.207426,337.589355,0.430390,...,146,39.293343,43.011665,0.1400,0.000000,35.323078,13.537368,42.6,0,0.366882
1,Angola,24,AGO,125,35.916668,-7.178585,39.072861,0.099019,280.802673,0.158310,...,137,47.982162,0.476892,0.0250,0.000000,4.500000,0.066623,46.4,3,12.399823
2,Albania,8,ALB,72,56.318413,-7.178585,7.345947,0.127648,425.420013,0.014200,...,119,51.049442,4.873606,0.2750,5.136225,37.099178,1.624084,95.9,5,9.804400
3,United Arab Emirates,784,ARE,52,59.942955,-7.178585,0.494192,0.488107,480.829529,0.034651,...,50,62.051479,100.000000,0.1975,61.308900,30.838837,2.571971,99.6,23,5.616998
4,Argentina,32,ARG,92,51.995552,-7.178585,6.997118,0.265608,421.549591,0.045520,...,33,64.909729,12.938356,0.0050,18.062500,12.280000,1.103726,97.7,23,5.466403
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1187,Vietnam,704,VNM,47,61.757511,-7.178585,19.569241,0.180243,515.666687,0.011015,...,71,61.893570,22.824151,0.2950,0.152500,0.450000,1.730224,96.4,22,6.454478
1188,Yemen,887,YEM,141,27.087793,-7.178585,0.659351,0.087605,250.055099,0.210390,...,146,42.590019,100.000000,0.1150,0.000000,11.190000,3.301255,54.9,21,0.790254
1189,South Africa,710,ZAF,71,57.209820,-3.989020,7.252446,0.097543,310.112213,0.079000,...,46,65.979095,27.901786,0.0025,32.490000,20.931701,12.757203,92.8,22,6.199420
1190,Zambia,894,ZMB,115,41.685936,-7.178585,2.697613,0.029222,303.833710,0.065826,...,88,59.992748,1.960100,0.0100,4.200000,35.323078,13.537368,64.6,18,37.776195
1191,Zimbabwe,716,ZWE,105,49.465069,-7.178585,4.035519,0.022557,383.372009,0.020240,...,124,53.043980,34.298532,0.0000,0.000000,35.323078,13.537368,77.1,3,27.172584