In [50]:
import numpy as np
import pandas as pd
import os

In [51]:
datasets = os.listdir('Data')

In [52]:
train_csvs = [data for data in datasets if "train" in data]
test_csvs = [data for data in datasets if "test" in data]

In [53]:
final_df = pd.DataFrame()
for df in train_csvs:
    data = pd.read_csv("Data/{}".format(df), index_col = 0)
    final_df = pd.concat([final_df, data], axis = 1, )

In [54]:
final_df['country']
# check we have merged correctly 
for i in range(len(final_df['country'])):
    row = list(np.array(final_df['country'].iloc[i]))
    if len(set(row)) > 1:
        print("FALSE")

for i in range(len(final_df['year'])):
    row = list(np.array(final_df['year'].iloc[i]))
    if len(set(row)) > 1:
        print("FALSE")

In [70]:
metrics = [train.split('_')[0] for train in train_csvs]
final_df[metrics]

,educ,soci,heal,pers,busi,econ,safe,gove,envi
0,22.494400,37.691658,51.600807,32.290104,35.308167,53.251713,37.240280,29.760307,39.293343
1,35.916668,44.954544,57.914005,45.123459,27.057371,51.743580,53.325123,30.910105,47.982162
2,56.318413,41.740612,74.527748,60.275913,40.626377,57.979511,68.989883,42.531654,51.049442
3,59.942955,52.181824,77.575127,49.087570,52.791740,67.167816,80.370224,48.831993,62.051479
4,51.995552,48.400772,74.439102,63.805622,47.438419,62.476505,68.519714,45.032742,64.909729
...,...,...,...,...,...,...,...,...,...
1187,61.757511,49.223934,73.153931,42.656334,50.571323,68.756935,69.328110,40.724960,61.893570
1188,27.087793,34.863636,59.361298,26.744762,34.814461,41.749683,53.523056,28.166433,42.590019
1189,57.209820,57.354820,58.200974,79.570770,59.192585,55.837296,56.250931,61.965115,65.979095
1190,41.685936,50.936478,59.711163,51.890903,54.895561,47.259438,57.675217,47.728058,59.992748
1191,49.465069,47.798504,63.500034,42.645996,38.271263,58.498528,59.620041,33.261623,53.043980

In [69]:
metrics

['educ', 'soci', 'heal', 'pers', 'busi', 'econ', 'safe', 'gove', 'envi']

In [56]:
env = ['fwateruse',
 'airpollution',
 'wasterwater',
 'fishstock',
 'marineprotect',
 'improved_drinkwater',
 'pestreg',
 'terrestprotect']
gov = ['elfcr',
 'trang',
 'womenparl',
 'vapvt',
 'polity2',
 'polrights',
 'geff',
 'rqual',
 'ticpi',
 'judi',
 'rlaw']

In [57]:
final_df = final_df.loc[:,~final_df.columns.duplicated()]

In [58]:
final_df

,country,isonum,isocode,year,rank_educ,educ,qslnl,qslnl_year,edsys,edsys_year,...,fishstock,fishstock_year,marineprotect,marineprotect_year,improved_drinkwater,improved_drinkwater_year,pestreg,pestreg_year,terrestprotect,terrestprotect_year
0,Afghanistan,4,AFG,2007,143,22.494400,-7.178585,2013,***,2008,...,35.323078,--,13.537368,--,42.6,2007,0,2007,0.366882,2007
1,Angola,24,AGO,2007,125,35.916668,-7.178585,2013,***,2011,...,4.500000,2007,0.066623,2007,46.4,2007,3,2007,12.399823,2007
2,Albania,8,ALB,2007,72,56.318413,-7.178585,2013,***,2008,...,37.099178,--,1.624084,2007,95.9,2007,5,2007,9.804400,2007
3,United Arab Emirates,784,ARE,2007,52,59.942955,-7.178585,2013,***,2009,...,30.838837,--,2.571971,2007,99.6,2007,23,2007,5.616998,2007
4,Argentina,32,ARG,2007,92,51.995552,-7.178585,2013,***,2007,...,12.280000,2007,1.103726,2007,97.7,2007,23,2007,5.466403,2007
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1187,Vietnam,704,VNM,2014,47,61.757511,-7.178585,2014,***,2014,...,0.450000,2010,1.730224,2012,96.4,2014,22,2012,6.454478,2012
1188,Yemen,887,YEM,2014,141,27.087793,-7.178585,2014,***,2014,...,11.190000,2010,3.301255,2012,54.9,2012,21,2012,0.790254,2012
1189,South Africa,710,ZAF,2014,71,57.209820,-3.989020,2014,***,2014,...,20.931701,2010,12.757203,2012,92.8,2014,22,2012,6.199420,2012
1190,Zambia,894,ZMB,2014,115,41.685936,-7.178585,2014,***,2014,...,35.323078,--,13.537368,--,64.6,2014,18,2012,37.776195,2012
1191,Zimbabwe,716,ZWE,2014,105,49.465069,-7.178585,2014,***,2014,...,35.323078,--,13.537368,--,77.1,2014,3,2012,27.172584,2012

In [59]:
for i in final_df.columns:
    if i.find('_year') > -1:
        final_df = final_df.drop([i], axis = 1)

In [60]:
from featuretools.selection import remove_single_value_features
final_df = remove_single_value_features(final_df)

In [62]:
final_df['prosperity_score'] = 0
for metric in metrics:
    final_df['prosperity_score'] += final_df[metric]

In [66]:
final_df['prosperity_score'] = final_df['prosperity_score'] / len(metrics)

In [67]:
final_df.to_csv('merged.csv')

In [74]:
test_df = pd.DataFrame()
for df in test_csvs:
    data = pd.read_csv("Data/{}".format(df), index_col = 0)
    test_df = pd.concat([test_df, data], axis = 1, )

In [75]:
test_df

,country,isonum,isocode,year,qslnl,qslnl_year,edsys,edsys_year,kids,kids_year,...,ippr,ippr_year,insdtf,insdtf_year,creddtf,creddtf_year,elcostlnl,elcostlnl_year,stardtf,stardtf_year
1192,Afghanistan,4,AFG,2015,-7.178585,2015,***,2015,***,2015,...,2.457773,--,23.62,2015,45.0,2015,8.151823,2015,93.05,2015
1193,Angola,24,AGO,2015,-7.178585,2015,***,2014,***,2014,...,2.257915,2014,0.00,2015,5.0,2015,6.421622,2015,76.79,2015
1194,Albania,8,ALB,2015,-7.178585,2015,***,2015,***,2015,...,2.896221,2014,63.42,2015,65.0,2015,6.197258,2015,90.09,2015
1195,United Arab Emirates,784,ARE,2015,-7.178585,2015,***,2015,***,2015,...,5.475348,2014,43.74,2015,45.0,2015,3.157000,2015,89.98,2015
1196,Argentina,32,ARG,2015,-3.770851,2015,***,2015,***,2015,...,2.424609,2014,42.87,2015,50.0,2015,3.214868,2015,73.36,2015
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1485,Vietnam,704,VNM,2016,-7.178585,2015,***,2015,***,2015,...,3.050503,2014,35.83,2015,70.0,2015,7.187355,2015,81.25,2015
1486,Yemen,887,YEM,2016,-7.178585,2015,***,2015,***,2015,...,2.314462,2014,28.08,2015,0.0,2015,8.184262,2015,74.22,2015
1487,South Africa,710,ZAF,2016,-4.003088,2015,***,2015,***,2015,...,5.300020,2014,64.29,2015,60.0,2015,6.508024,2015,81.18,2015
1488,Zambia,894,ZMB,2016,-7.178585,2015,***,2015,***,2015,...,4.024301,2014,38.96,2015,75.0,2015,6.467388,2015,86.69,2015
1489,Zimbabwe,716,ZWE,2016,-7.178585,2015,***,2015,***,2015,...,2.864656,2014,27.44,2015,50.0,2015,7.981050,2015,51.75,2015

In [76]:
test_df['country']
# check we have merged correctly 
for i in range(len(test_df['country'])):
    row = list(np.array(test_df['country'].iloc[i]))
    if len(set(row)) > 1:
        print("FALSE")

for i in range(len(test_df['year'])):
    row = list(np.array(test_df['year'].iloc[i]))
    if len(set(row)) > 1:
        print("FALSE")

In [79]:
test_df = test_df.loc[:,~test_df.columns.duplicated()]

In [80]:
for i in test_df.columns:
    if i.find('_year') > -1:
        test_df = test_df.drop([i], axis = 1)

In [81]:
test_df

,country,isonum,isocode,year,qslnl,edsys,kids,secvocp,teryrs,edqualsc,...,logis,bband,redu,hifi,affs,ippr,insdtf,creddtf,elcostlnl,stardtf
1192,Afghanistan,4,AFG,2015,-7.178585,***,***,0.961258,0.210655,337.589355,...,2.069573,0.004795,26.472107,3.633919,3.852955,2.457773,23.62,45.0,8.151823,93.05
1193,Angola,24,AGO,2015,-7.178585,***,***,45.228603,0.099019,280.802673,...,2.542980,0.412784,31.007937,2.593719,3.236488,2.257915,0.00,5.0,6.421622,76.79
1194,Albania,8,ALB,2015,-7.178585,***,***,8.005317,0.050267,425.420013,...,2.770000,6.573716,20.825397,3.888581,3.737438,2.896221,63.42,65.0,6.197258,90.09
1195,United Arab Emirates,784,ARE,2015,-7.178585,***,***,1.820017,0.458515,480.829529,...,3.539098,11.558400,4.285714,5.053419,5.424749,5.475348,43.74,45.0,3.157000,89.98
1196,Argentina,32,ARG,2015,-3.770851,***,***,13.699941,0.280885,421.549591,...,2.986475,15.573113,30.333333,2.583314,2.923875,2.424609,42.87,50.0,3.214868,73.36
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1485,Vietnam,704,VNM,2016,-7.178585,***,***,19.569241,0.180243,515.666687,...,3.154763,6.483695,24.555556,3.913509,3.605158,3.050503,35.83,70.0,7.187355,81.25
1486,Yemen,887,YEM,2016,-7.178585,***,***,0.659351,0.087605,250.055099,...,2.183950,1.361715,27.396825,3.848516,2.400492,2.314462,28.08,0.0,8.184262,74.22
1487,South Africa,710,ZAF,2016,-4.003088,***,***,7.252446,0.097543,310.112213,...,3.431244,3.211005,9.333333,2.079679,5.310756,5.300020,64.29,60.0,6.508024,81.18
1488,Zambia,894,ZMB,2016,-7.178585,***,***,2.697613,0.029222,303.833710,...,2.462674,0.141622,50.555556,4.544003,3.856999,4.024301,38.96,75.0,6.467388,86.69
1489,Zimbabwe,716,ZWE,2016,-7.178585,***,***,4.035519,0.022557,383.372009,...,2.339280,1.042747,82.333333,2.215543,3.108048,2.864656,27.44,50.0,7.981050,51.75

In [82]:
from featuretools.selection import remove_single_value_features
test_df = remove_single_value_features(test_df)

In [83]:
test_df.to_csv('test.csv')